
.logo1{
    margin-top: 5%;
    img{
        height: 40px;
    }
}

.form1{
    margin-top: -20px;
    ion-item{
        border-radius: 5px;
        border-color: yellowgreen;
        border-width: 2px;
        border-style: solid;
        margin-bottom: 10px;
    }
}


ion-button{
    text-transform: none;
}