/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    background: url('https://p4.wallpaperbetter.com/wallpaper/699/518/376/geometric-shapes-dark-background-black-wallpaper-preview.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}