<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center" [fullscreen]="true">

  <ion-card>
    <ion-item  class="ion-activated ion-padding ion-text-center" lines="none">
      <ion-title >{{miuser.usuario}} </ion-title>
    </ion-item>
  
    <ion-item >
      <ion-icon name="stop-outline" slot="start"></ion-icon>
      <ion-label>name: {{miuser.nombre}} {{miuser.apellido}} </ion-label>
    </ion-item>
  
    <ion-item class="ion-activated">
      <ion-icon name="stop-outline" slot="start"></ion-icon>
      <ion-label>email: {{miuser.correo}} </ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="stop-outline" slot="start"></ion-icon>
      <ion-label>fecha nacimiento: {{miuser.fechanacimiento}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="stop-outline" slot="start"></ion-icon>
      <ion-label>tel: {{miuser.telefono}}</ion-label>
    </ion-item>

    <br><br>
    <ion-button color="danger" (click)="btnEliminar()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
    <br><br>

  </ion-card>


  <div class="logo">
    <img src="https://remisiones.munimixco.gob.gt/assets/img/munimixco-logo.png" alt="">
  </div>

</ion-content>
