<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="btnRegresar()">
      <ion-icon name="arrow-back-sharp"></ion-icon>
    </ion-buttons>
    <ion-title>reporte baches en las calles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <div class="logo1">
    <img src="https://remisiones.munimixco.gob.gt/assets/img/munimixco-logo.png" alt="">
  </div>

  <div class="form1">
    <br><br>
    <ion-item lines='none'>
      <ion-input [(ngModel)]="reporte.zona" placeholder="zona"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>fecha problema</ion-label>
      <ion-datetime [(ngModel)]="usuario.fechaProblema" placeholder="fecha reporte" displayFormat="DD/MMM/YYYY" value="null" placeholder="seleccionar fecha"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Hora problema hh:mm</ion-label>
      <ion-datetime [(ngModel)]="usuario.horaProblema" displayFormat="h:mm A" minuteValues="0,15,30,45"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-textarea [(ngModel)]="usuario.descripcion" placeholder="Redacte el problema..."></ion-textarea>
    </ion-item>

    <ion-button (click)="abrirGaleria()" class="add-img"><ion-icon name="images"></ion-icon> agregar imagenes</ion-button>
    
    <br>
    <ion-button expand="block" (click)="btnRegistrar()">registrar</ion-button>
  </div>

</ion-content>